---
layout: markdown_page
title: "Verify Team"
---

# Verify Team

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

For an understanding of what this team is going to be working on take a look at [the product
vision](/direction/verify/).

## Mission

The Verify Team is focused on all the functionality with respect to
Continuous Integration and Verification.

This team maps to [Verify](/handbook/product/categories/#verify-stage) devops stage.

## Team Members

The following people are permanent members of the Verify Team:

<%= direct_team(manager_role: 'Engineering Manager, Verify (CI)') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Verify/, direct_manager_role: 'Engineering Manager, Verify (CI)') %>

## Technologies

Like most GitLab backened teams we spend a lot of time working in Rails on the main [GitLab CE app](https://gitlab.com/gitlab-org/gitlab-ce), but we also do a lot of work in Go which is the language that [GitLab Runner](https://gitlab.com/gitlab-org/gitlab-runner) is written in. Familiarity with Docker and Kubernetes is also useful on our team.

## Common Links

 * [Issue Tracker](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=Verify)
 * [Slack Channel](https://gitlab.slack.com/archives/g_verify)
 * [Roadmap]()

## How to work with us

### On issues

Issues the Verify team works on have the ~"Verify" label. Issues that contribute to the verify stage of the devops toolchain have the ~"devops::verify" label.


